#menuBody td {
    padding: 0 5px;
}

.addQuantity {
    cursor: url('../img/add-circle-1.png'), auto;
}

.subtractQuantity {
    cursor: url('../img/subtract-circle-1.png'), auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.totalAmount {
    font-weight: bold;
    font-size: x-large;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.row {
    margin-bottom: 5px;
}

.border {
    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

#bill-html-body {
    font-size: 10pt;
}

#bill-ordered-items td {
    padding: 1px;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    position: relative
}
