body {
    font-family: serif;
}

.correctChoice {
    color: black !important;
    background: rgb(48, 209, 88) !important;
}

.incorrectChoice {
    color: black !important;
    background: rgb(215, 59, 58) !important;
}

#progressBar {
    position: fixed;
    top: 0;
    width: 0;
}

img {
    max-width: 100%;
}